#gameArea {
  width: 150px;
  height: 250px;
  background-image: url("../images/background.png");
  border-radius: 4px;
  cursor: pointer;

  position: relative;
  z-index: 9999;
}

.centreContent {
  margin: auto;
}

.showContent {
  display: block;
}

img#gameSprite.stand {
  padding-top: 35px;
}

img#gameSprite.jump {
  padding-top: 0px;
}

img#gameItem.float {
  padding-top: 0px;
}

img#gameItem.land {
  padding-top: 10px;
}
